<div class="layout-container">

    <p class="typography-text-small">
        &copy; 2014-2016 Spolek Frontendisti.cz
    </p>
    <p class="offset-bottom--large">
        Minikonference webových designérů a&nbsp;vývojářů orientovaných na HTML, CSS
        a&nbsp;trochu&nbsp;JavaScript.
    </p>

    <div class="row">
        <div class="col-xs-12 col-sm-6">

            <a href="http://www.webrocket.cz" target="_blank" class="typography-link-unstyled">
                <img src="{{ asset('images/webrocket.svg') }}" height="60" alt="WebRocket" />
            </a>

        </div>
        <div class="col-xs-12 col-sm-6">

            <span class="typography-text-small">
                Tento web pohání
                <a href="http://www.webrocket.cz" target="_blank">WebRocket.cz</a>
                – webové stránky bez starostí
            </span>

        </div>
    </div><!-- .row -->

    <p class="typography-text-small">
        Provozuje Spolek Frontendisti.cz zapsaný u&nbsp;Městského soudu v&nbsp;Praze |
        Antala Staška 1565/30, Praha&nbsp;4, 140&nbsp;00 | IČ:&nbsp;03591263
    </p>

</div><!-- .layout-container -->
