<div class="section">
    <div class="layout-container typography-text-center">
        <div class="row center-xs">
            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-5">

                <div class="footer__accent typography-text-small offset-bottom">
                    &copy; 2014—{{ 'now'|date('Y') }} Spolek Frontendisti.cz
                </div>
                <div class="footer__accent">
                    Minikonference webových designérů a&nbsp;vývojářů orientovaných na HTML, CSS
                    a&nbsp;trochu&nbsp;JavaScript.
                </div>
                <div class="footer__divider"></div>
                <div class="typography-text-small">
                    Provozuje Spolek Frontendisti.cz zapsaný u&nbsp;Městského soudu v&nbsp;Praze |
                    Antala Staška 1565/30, Praha&nbsp;4, 140&nbsp;00 | IČ:&nbsp;03591263
                </div>
                <div class="footer__divider"></div>
                <div class="typography-text-small">
                    Web Frontendistů pohání
                    <a href="https://github.com/twigyard/twigyard" target="_blank">TwigYard</a>
                </div>

            </div>
        </div><!-- .row -->
    </div><!-- .layout-container -->
</div>
