<div class="container">
    <div class="grid grid--middle grid--center offset--bottom--large">
        <div class="grid__item grid__item--wide">
            <div class="text--small offset--bottom--small">&copy; 2014-2016 {Frontendisti.cz}</div>
            <div class="offset--bottom--large">Minikonference webových designérů a vývojářů orientovaných na HTML, CSS a trochu JavaScript.</div>
            <div class="footer__wr">
                <div class="footer__wr__section">
                    <a href="http://www.webrocket.cz" target="_blank" class="u__clear-link"><img src="{{ asset('images/logo-webrocket.svg') }}" height="60"></a>
                </div>
                <div class="footer__wr__section footer__wr__section--right">
                    <span class="text--smaller">Tento web pohání <a href="http://www.webrocket.cz" target="_blank">WebRocket.cz</a> – webové stránky bez starostí</span>
                </div>
            </div>
        </div>
    </div>
    <div class="text--smaller">Provozuje Spolek Frontendisti.cz zapsaný u Městského soudu v Praze | Antala Staška 1565/30, Praha 4, 140 00 | IČ: 03591263</div>
</div>
{#copy#}
{#description#}
{#webrocket#}
{#about#}
