.footer {
    padding-top: 1rem * @line-height;
    padding-bottom: 1rem * @line-height;
    text-align: center;
    color: @gray-light;
    background-color: @gray-darker;

    a {
        color: @gray-lighter;
        border-bottom-color: @gray-lighter;

        &:hover,
        &:focus {
            color: #fff;
            border-bottom-color: #fff;
        }
    }
}
