.footer {
    color: @color-gray-light;
    background-color: @color-brand-gray;

    &__accent {
        color: #fff;
    }

    &__divider {
        width: 3em;
        margin: 1.25rem auto;
        border-top: 1px solid @color-gray-light;
    }

    a {
        color: @color-gray-lighter;
        border-bottom-color: @color-gray-lighter;

        &:hover,
        &:focus {
            color: #fff;
            border-bottom-color: #fff;
        }
    }
}
