.logo {
    display: block;
    height: 1rem * @typography-line-height;
    margin: (1rem * @typography-line-height) 0;

    &__image {
        max-width: 100%;
        height: 1rem * @typography-line-height;
    }
}
