.navbar {
    height: @navbar-height;
    width: 100%;
    background-color: #fff;
    z-index: 9999;

    &__inner {
        height: 100%;

        &__section {
            float: left;
            width: 50%;

            &--right {
                float: right;
            }
        }
    }

    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
    }

    @media (min-width: @screen-tablet) {
        height: @navbar-height-desktop;
    }
}
