.navigation {
    display: block;
    text-align: right;

    &__link {
        position: relative;
        font-weight: bold;
        display: inline-block;
        padding: 1.6rem 1rem;
        border-bottom: none;
        color: fade(#000, 60%);

        &:hover,
        &:active,
        &.active {
            color: #000;
        }

        @media (min-width: @screen-tablet) {
            padding: 1.5rem 2rem;
        }
    }


}
