.offset {
    &--bottom {
        margin-bottom: 1rem * @line-height;

        &--small {
            margin-bottom: .5rem * @line-height;
        }

        &--large {
            margin-bottom: 2rem * @line-height;
        }

        &--larger {
            margin-bottom: 3rem * @line-height;
        }
    }

    &--top {
        margin-top: 1rem * @line-height;

        &--small {
            margin-top: .5rem * @line-height;
        }

        &--large {
            margin-top: 2rem * @line-height;
        }

        &--larger {
            margin-top: 3rem * @line-height;
        }
    }
}
