.offset {
    &--none {
        margin: 0;
    }

    &--left {
        margin-left: 1ex;
    }

    &--right {
        margin-right: 1ex;
    }

    &--bottom {
        margin-bottom: 1rem;

        &--small {
            margin-bottom: .5rem;
        }

        &--large {
            margin-bottom: 2rem;
        }

        &--larger {
            margin-bottom: 4rem;
        }
    }

    &--top {
        margin-top: 1rem;

        &--small {
            margin-top: .5rem;
        }

        &--large {
            margin-top: 2rem;
        }

        &--larger {
            margin-top: 4rem;
        }
    }
}
