html {
    font-size: @typography-font-size;

    @media (min-width: @layout-screen-sm) {
        font-size: @typography-font-size-desktop;
    }
}

body {
    font: 300 1em/@typography-line-height 'Playfair Display', times, serif;
    color: @typography-text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
.typography-h1,
.typography-h2,
.typography-h3,
.typography-h4 {
    margin: 0 0 (1rem * @typography-line-height);
    font-weight: normal;
    line-height: 1.25;
}

h1,
.typography-h1 {
    font-weight: 700;
    font-size: @typography-font-size-h1;

    @media (min-width: @layout-screen-sm) {
        font-size: @typography-font-size-h1-tablet;
    }

    @media (min-width: @layout-screen-md) {
        font-size: @typography-font-size-h1-desktop;
    }
}

h2,
.typography-h2 {
    font-size: @typography-font-size-h2;
}

h3,
.typography-h3 {
    margin-top: 1rem * @typography-line-height;
    margin-bottom: .5rem * @typography-line-height;
    font-size: @typography-font-size-h3;
}

h4,
.typography-h4 {
    margin-top: 1rem * @typography-line-height;
    margin-bottom: .5rem * @typography-line-height;
    font-size: @typography-font-size-h4;
}

a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px dotted fade(#000, 75%);
    transition: all 150ms linear;

    &:hover,
    &:focus {
        border-bottom-color: #000;
    }
}

p {
    margin: 0 0 (1rem * @typography-line-height);
}

// Typography classes
.typography {
    &-text-center {
        text-align: center;
    }

    &-text-small {
        font-size: @typography-font-size-small;
    }

    &-text-accent {
        color: @color-brand-accent;
    }

    &-link-unstyled {
        border-bottom: none;
    }

    &-image-circle {
        border-radius: 50%;
    }

    &-image-responsive {
        display: block;
        max-width: 100%;
        height: auto;

        &--center {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &-hidden-xs {
        @media (max-width: @layout-screen-xs) {
            display: none;
        }
    }
}

