.u {
    &__text--center {
        text-align: center;
    }

    &__text--small {
        font-size: @font-size-small;
    }

    &__text--accent {
        color: @brand-accent;
    }

    &__image-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__link-unstyled {
        border-bottom: none;
    }

    &__hidden-xs {
        @media (max-width: @screen-xs) {
            display: none;
        }
    }
}
