.u {
    &__pull--right {
        float: right;
    }

    &__pull--left {
        float: left;
    }

    &__image-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__clear-link {
        border-bottom: none;
    }
}
