.u {
    &__text--center {
        text-align: center;
    }

    &__text--small {
        font-size: @font-size-small;
    }

    &__text--accent {
        color: @brand-accent;
    }

    &__pull--right {
        float: right;
    }

    &__pull--left {
        float: left;
    }

    &__image-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__link-unstyled {
        border-bottom: none;
    }

    &__hidden--mobile {
        @media (max-width: ~"calc(@{screen-sm} - 1px)") {
            display: none;
        }
    }
}
