// Common Settings
// ===============

// Colours
@gray-darker: #2b2b2b;
@gray-dark: #444;
@gray: #555;
@gray-light: #e6e6e6;

@brand-blue: #16263b;
@brand-orange: #ff9900;
@brand-gray: @gray-darker;

@brand-primary: @brand-blue;
@brand-accent: @brand-orange;

// Layout
@screen-phablet: 570px;
@screen-tablet: 768px;
@screen-desktop: 1024px;
@screen-large: 1400px;

// Typography
@font-size: 16px;
@font-size-desktop: 20px;

// Components
// ==========

// Cover
@cover-tile-projected-width: 45px;
@cover-tile-projected-height: @cover-tile-projected-width * 1.75;
@cover-tile-color: @brand-blue;
@cover-tile-color-light: lighten(@cover-tile-color, 6%);
@cover-tile-color-dark: darken(@cover-tile-color, 6%);

// Navbar
@navbar-height: 80px;
@navbar-height-desktop: 100px;
