// Colours
@brand-primary: #ff9900;
@brand-alt: #16263b;
@brand-grey: #E6E6E6;
@brand-grey-dark: darken(#E6E6E6, 20%);

// Layout
@screen-phablet: 570px;
@screen-tablet: 768px;
@screen-desktop: 1024px;
@screen-large: 1400px;

// Misc
@navbar-height: 100px;
