// Common Settings
// ===============

// Colours
@gray-darker: #2b2b2b;
@gray-dark: #444;
@gray: #555;
@gray-light: #e6e6e6;

@brand-blue: #16263b;
@brand-orange: #ff9900;
@brand-gray: @gray-darker;

@brand-primary: @brand-blue;
@brand-accent: @brand-orange;

// Layout
@screen-phablet: 570px;
@screen-tablet: 768px;
@screen-desktop: 1024px;
@screen-large: 1400px;

// Typography
// ==========

// Modular scale
// Base: 16px
// Ratio: 1.25
// @url http://www.modularscale.com/?16&px&1.25&web&text
@font-size: 16px;
@font-size-desktop: 19px;
@modular-scale-ratio: 1.25;
@line-height: 1.75;

@font-size-h1: 1rem * pow(@modular-scale-ratio, 3);
@font-size-h1-tablet: 1rem * pow(@modular-scale-ratio, 4);
@font-size-h1-desktop: 1rem * pow(@modular-scale-ratio, 5);
@font-size-h2: 1rem * pow(@modular-scale-ratio, 2);
@font-size-h3: 1rem * pow(@modular-scale-ratio, 1);
@font-size-h4: 1rem;
@font-size-small: 1rem / @modular-scale-ratio;
@font-size-smaller: 1rem / @modular-scale-ratio - 1;

// Components
// ==========

// Cover
@cover-tile-projected-width: 45px;
@cover-tile-projected-height: @cover-tile-projected-width * 1.75;
@cover-tile-color: @brand-blue;
@cover-tile-color-light: lighten(@cover-tile-color, 6%);
@cover-tile-color-dark: darken(@cover-tile-color, 6%);

// Navbar
@navbar-height: 80px;
@navbar-height-desktop: 100px;
